src/main/mule/common-lib.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="a97f71f3-73f7-4fdc-ae85-c0b782887382" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="common-libFlow" doc:id="369cf54c-5379-4479-8568-7d3e0e23b5ed" >
		<http:listener doc:name="Listener" doc:id="9b43df08-aefc-4913-8d16-94bd1d386902" config-ref="HTTP_Listener_config" path="/healthcheck"/>
		<logger level="INFO" doc:name="start" doc:id="3752c7ff-d40a-4954-a22e-c8d5ea2ebf7d" message="#['health check flow started']"/>
		<ee:transform doc:name="set-response" doc:id="4dd2ecad-8e23-4058-aa8f-0bbfd27a53a0" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	'ping':'success'
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="end" doc:id="e15789a6-51f1-41a0-9be4-8510549dd061" message="#['healthcheck flow ended']"/>
	</flow>
</mule>
